{%- if config.extra.socials -%}
<address class="socials">
    <ul>
        {%- for social in config.extra.socials | default(value=[]) %}
        <li>
            <a class="social-link" rel="me" href="{{ social.url | safe }}" title="{{ social.name }}" aria-label="{{ social.name }}">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <use href="{{ get_url(path="images/social_icons/" ~ social.name ~ ".svg") | safe }}#icon" />
                </svg>
            </a>
        </li>
        {%- endfor %}
    </ul>
</address>
{% endif -%}

<p class="copyright">
    <span>© 2026-present {{ config.title }}, Content <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY-NC-SA-4.0</a>, Source Code <a href="https://opensource.org/licenses/MIT">MIT License</a></span>
</p>
