{% include base_path %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    <h3 class="archive__item-title" itemprop="headline">
      <a href="{{ site.baseurl }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </h3>
    {% if post.date %}<p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {{ post.date | date_to_string }}</p>{% endif %}
    {% if post.venue %}<p class="archive__item-excerpt" itemprop="description">{{ post.type }} at {{ post.venue }}, {{ post.location }}</p>{% endif %}
    </li>
  </article>
</div>
