
<!doctype html>
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%- block title -%}{{ config.title }}{%- endblock -%}</title>
 
    <link rel="stylesheet" href="{{ get_url(path="css/style.css", cachebust=true) }}">
    {%- if config.extra.stylesheets %}
    {%- for stylesheet in config.extra.stylesheets %}
    <link rel="stylesheet" href="{{ get_url(path=stylesheet, cachebust=true) }}">
    {% endfor -%}
    {%- endif %}
    {%- if page.extra.stylesheets or section.extra.stylesheets %}
    {%- for stylesheet in page.extra.stylesheets | default(value=section.extra.stylesheets) %}
    <link rel="stylesheet" href="{{ get_url(path=stylesheet, cachebust=true) }}">
    {% endfor -%}
    {%- endif %}

    {%- if config.extra.favicon %}
    {% set image_meta = get_image_metadata(path=config.extra.favicon) -%}
    <link rel="icon" type="{{ image_meta.mime | safe }}" href="{{ get_url(path=config.extra.favicon) }}">
    {%- if image_meta.mime is ending_with("png") %}
    {% set resized_image = resize_image(path=config.extra.favicon, width=180, height=180, op="fit") -%}
    <link rel="apple-touch-icon" href="{{ resized_image.url | safe }}">
    {%- endif -%}
    {%- elif config.extra.favicon_emoji %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>{{ config.extra.favicon_emoji }}</text></svg>">
    {%- endif %}  

    {%- if page.extra.social_media_image.path or section.extra.social_media_image.path -%}
    {%- set relative_path = page.extra.social_media_image.path | default(value=section.extra.social_media_image.path) -%}
    {%- set base_path = page.colocated_path | default(value=section.relative_path | trim_end_matches(pat="_index.md")) -%}
    {%- set absolute_path = base_path ~ relative_path -%}
    {%- set image_meta = get_image_metadata(path=absolute_path) -%}
    {%- set resized_image = resize_image(path=absolute_path, width=1200, height=675, op="fit") -%}
    
    <meta property="og:image" content="{{ resized_image.url | safe }}">
    <meta property="og:image:width" content="{{ resized_image.width }}">
    <meta property="og:image:height" content="{{ resized_image.height }}">
    <meta property="og:image:type" content="{{ image_meta.mime | safe }}">
    {% if page.extra.social_media_image.alt_text or page.extra.social_media_image.alt_text -%}
    {%- set alt_text = page.extra.social_media_image.alt_text | default(value=page.extra.social_media_image.alt_text) -%}
    <meta property="og:image:alt" content="{{ alt_text | replace(from='"', to="&quot;") | safe }}">
    {% endif -%}
    <meta name="twitter:card" content="summary_large_image">
    {% endif -%}

</head>

<body class="layout-center"> 
    <main id="main">
        {% block main %}{% endblock %}
    </main>
    <footer class="footer">
        {% filter indent -%}{%- filter indent -%}
        {%- block footer -%}
        {% include "partials/footer.html" %}
        {%- endblock -%}
        {%- endfilter -%}{%- endfilter %}
    </footer>
</body>

</html>
